@import "variables";

.link {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 8px;
  margin: 6px 4px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: white;
  color: $color-link;
  border: 2px groove #777;

  @media (max-width: 768px) {}

  &.sm {
    padding: 3px 4px;
  }

  &.ext::after {
    content: '\2197';
    border: 2px groove #777;
    padding: 0 2px;
    border-radius: 2px;
    margin-left: 2px;
  }

  &:focus {
    outline: none !important;
  }

  cursor: pointer;

  &.btn-active {
    background-color: #eaeaea;
  }

  &:hover {

    text-decoration: none;
  }

  &.super {
    background: #ffc107;
    color: black;
    border: 2px groove #777;
  }
}
