@import "variables";
@import "mixins";

form {
      input, textarea {
        font-size: 15px;
        background-color: white;
        border: 1px solid $color-second;
        outline: none;
        width: 100%;
        padding: 7px;
        margin-top: 5px;
      }
    }
