@import "variables";

  .menu-hamburger {
    z-index: 5;
    position: fixed;
    right: 0;
    top: 0;

    .menu-open {
      cursor: pointer;
      margin: 20px;
      width: 30px;
    }

    .x-box {
      margin: 20px;
      display: none;
      cursor: pointer;
      width: 30px;
      /* &:hover {
        background-color: $color-link;
        color: white !important;
        text-decoration: none;
      } */
    }

    &.show-close {
      .menu-open {
        display: none;
      }
      .x-box {
        display: inline-block;
        /* color: black;
        font-size: 27px;
        line-height: 31px;
        text-align: center;
        transform: rotate(-90deg);
        width: 33px;
        height: 33px; */
      }
    }
  }
