@import "variables";
@import "mixins";

.list {
  a.link {
    //@include linker();
  }
  &.list-inline {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
    }
  }
  &.level-0 {
    list-style-type: none;
    padding: 0;
    > li {
      margin: 10px 2px;
    }
    .level-1 {
        padding-left: 30px !important;
        list-style-type: square;
      .level-2 {
        padding-left: 20px !important;
        list-style-type: circle;
      }
    }
  }
}
