@mixin line-marker($size, $x, $b:10px, $c:white) {
  display: inline;
  padding: $x $x $x 0;
  font-size: $size;
  background-color: $c;
  box-shadow: $b 0 0 $c, -$b 0 0 $c;
  box-decoration-break: clone;
}

@mixin mobile-btn(){
  margin-right: 5px;
  padding: 10px;
}

@mixin linker(){
  margin-bottom: 10px;
  margin-right: 7px;
  margin-left: 0;
  padding: 8px 12px;
  font-weight: bold;
  background-color: $color-link;
  color: white;
  /* @media (max-width: 768px) {
      margin-bottom: 7px;
      margin-right: 7px;
      margin-left: 0;
      padding: 8px 10px;
    } */
}
