@import "variables";
$time: .125s;

.overlay {
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: black;
}

.menu-box {
  background-color: $color-third;
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;
  z-index: 4;
  overflow-y: auto;
  width: 350px;
  height: 100%;
  //transform: translateX(300px);
  transition: transform $time cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear $time;
  &.opened {
    transform: translateX(0) !important;
  }

  .menu-section {
    margin: 20px;
    .menu-section-title {
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
}
