@import "variables";
@import "mixins";

.marker-container {
  padding-top: 1px;
  color: $color-second;
  div {
    @include line-marker(1em, 1px, 5px);
  }
  &.right {
    @media (min-width: 768px) {
      text-align: right;
    }
  }
  &.black {
    color: white;
    div {
    @include line-marker(1em, 1px, 5px, rgba(0,0,0,.8));
  }
  }

}
