/* $color-main: #202020; */
$color-link: #343a40;
$color-second: #666;
$color-third: white;
$color-link-active: black;

@mixin user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
